
.#README.md
geckodriver.log
open_csv_20180304_camera_candidate_count.csv
open_csv_20180304_camera_coalition_perc_wide.csv
open_csv_20180304_camera_coalition_sum_wide.csv
open_csv_20180304_camera_geo_count.csv
open_csv_20180304_camera_party_count.csv
open_csv_20180304_camera_party_perc_wide.csv
open_csv_20180304_camera_party_sum_wide.csv
open_csv_20180304_senato_candidate_count.csv
open_csv_20180304_senato_coalition_perc_wide.csv
open_csv_20180304_senato_coalition_sum_wide.csv
open_csv_20180304_senato_geo_count.csv
open_csv_20180304_senato_party_count.csv
open_csv_20180304_senato_party_perc_wide.csv
open_csv_20180304_senato_party_sum_wide.csv
open_shp_20180304_camera.cpg
open_shp_20180304_camera.dbf
open_shp_20180304_camera.prj
open_shp_20180304_camera.qpj
open_shp_20180304_camera.shp
open_shp_20180304_camera.shx
open_shp_20180304_camera.zip
open_shp_20180304_senato.cpg
open_shp_20180304_senato.dbf
open_shp_20180304_senato.prj
open_shp_20180304_senato.qpj
open_shp_20180304_senato.shp
open_shp_20180304_senato.shx
open_shp_20180304_senato.zip
scrape.py
workingsession.RData
scrape.py
